server:
  port: 8082

spring:
  application:
    name: notification-service
  data:
    mongodb:
      url: mongodb://root:123456@:27017/notification-service?authSource=admin
  mail:
    host: smtp.gmail.com
    port: 587
    username: khamai05767@gmail.com
    password: ckcc dktp xqfz cshw
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  devtools:
    restart:
      additional-paths: src/main/java, src/main/resources


eureka:
  client:
    service-url:
      default-zone: http://eureka-server:8761/eureka