

networks:
  app-network:
    driver: bridge

volumes:
  maven-cache:
  redis-data:

services:


  mysql:
    image: mysql:8.0.28
    container_name: mysql
    restart: always
    ports: ["3307:3306"]
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: study5
      MYSQL_USER: mck0506
      MYSQL_PASSWORD: 123456
      MYSQL_HOST: mysql
    volumes:
      - ./mysql:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-p123456"]
      interval: 10s
      timeout: 5s
      retries: 20
    networks: [app-network]

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin
    restart: always
    ports: ["9000:80"]
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_USER: root
      MYSQL_PASSWORD: 123456
    depends_on:
      mysql: { condition: service_healthy }
    networks: [app-network]

  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 123456
      MONGO_INITDB_DATABASE: notification-service
    volumes:
      - ./mongo:/data/db
    healthcheck:
      test: [ "CMD", "mongosh", "--username=root", "--password=123456", "--authenticationDatabase=admin", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 5s
      retries: 20
      start_period: 40s
    networks: [ app-network ]

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    ports: ["6379:6379"]
    command: ["redis-server","--appendonly","yes"]
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20
    networks: [app-network]

  kafka:
    image: apache/kafka:latest
    container_name: kafka
    restart: unless-stopped
    ports: ["9092:9092"]
    environment:
      CLUSTER_ID: 5L6g3nQJRjaYqerqfv4n3w
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
      KAFKA_NUM_PARTITIONS: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    volumes:
      - ./kafka-data:/var/lib/kafka/data
    healthcheck:
      test: ["CMD","/opt/kafka/bin/kafka-topics.sh","--bootstrap-server","kafka:9092","--list"]
      interval: 10s
      timeout: 10s
      retries: 20
    networks: [app-network]

  eureka-server:
    image: maven:3.9-eclipse-temurin-21
    container_name: eureka-server
    working_dir: /workspace
    restart: unless-stopped
    ports:
      - "8761:8761"
    volumes:
      - ./eureka-server:/workspace
      - maven-cache:/root/.m2
    environment:
      - SPRING_DEVTOOLS_RESTART_POLL_INTERVAL=2s
      - SPRING_DEVTOOLS_RESTART_QUIET_PERIOD=1s

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 10s
      retries: 20
    command: [ "bash","-lc","mvn -q -DskipTests org.springframework.boot:spring-boot-maven-plugin:3.5.3:run" ]
    networks: [app-network]

  auth-service:
    image: maven:3.9-eclipse-temurin-21
    container_name: auth-service
    working_dir: /workspace
    restart: unless-stopped
    ports: ["8087:8087"]
    env_file:
      - ./auth-service/.env
    volumes:
      - ./auth-service:/workspace
      - maven-cache:/root/.m2
      - ./auth-service/secrets/google_client_secret.json:/run/secrets/google_client_secret.json:ro
      - ./auth-service/secrets/facebook_client_secret.json:/run/secrets/facebook_client_secret.json:ro

    environment:
      - SPRING_DEVTOOLS_RESTART_POLL_INTERVAL=2s
      - SPRING_DEVTOOLS_RESTART_QUIET_PERIOD=1s
      - GOOGLE_OAUTH_CREDENTIALS_PATH=/run/secrets/google_client_secret.json
      - FACEBOOK_OAUTH_CREDENTIALS_PATH=/run/secrets/facebook_client_secret.json



    depends_on:
      mysql: { condition: service_healthy }
      redis: { condition: service_started }
      kafka: { condition: service_healthy }
    command: ["bash","-lc","mvn -q -DskipTests org.springframework.boot:spring-boot-maven-plugin:3.5.3:run"]
    networks: [app-network]

  user-service:
    image: maven:3.9-eclipse-temurin-21
    container_name: user-service
    working_dir: /workspace
    restart: unless-stopped
    ports: ["8086:8086"]
    env_file:
      - ./user-service/.env
    volumes:
      - ./user-service:/workspace
      - maven-cache:/root/.m2
    environment:
      - SPRING_DEVTOOLS_RESTART_POLL_INTERVAL=2s
      - SPRING_DEVTOOLS_RESTART_QUIET_PERIOD=1s

    depends_on:
      mysql: { condition: service_healthy }
      redis: { condition: service_started }
      kafka: { condition: service_healthy }
    command: ["bash","-lc","mvn -q -DskipTests org.springframework.boot:spring-boot-maven-plugin:3.5.3:run"]
    networks: [app-network]

  notification-service:
    image: maven:3.9-eclipse-temurin-21
    container_name: notification-service
    working_dir: /workspace
    restart: unless-stopped
    ports: [ "8082:8082" ]
    env_file:
      - ./notification-service/.env
    volumes:
      - ./notification-service:/workspace
      - maven-cache:/root/.m2
    environment:
      - SPRING_DEVTOOLS_RESTART_POLL_INTERVAL=2s
      - SPRING_DEVTOOLS_RESTART_QUIET_PERIOD=1s
    depends_on:
      mongodb: {condition: service_healthy }
      redis: { condition: service_started }
      kafka: { condition: service_healthy }
    command: [ "bash","-lc","mvn -q -DskipTests org.springframework.boot:spring-boot-maven-plugin:3.5.3:run" ]
    networks: [ app-network ]


  product-service:
    image: maven:3.9-eclipse-temurin-21
    container_name: product-service
    working_dir: /workspace
    env_file:
      - ./product-service/.env
    volumes:
      - ./product-service:/workspace
      - maven-cache:/root/.m2
    environment:
      - SPRING_DEVTOOLS_RESTART_POLL_INTERVAL=2s
      - SPRING_DEVTOOLS_RESTART_QUIET_PERIOD=1s

    depends_on:
      mysql: { condition: service_healthy }
      redis: { condition: service_started }
      kafka: { condition: service_healthy }
    command: ["bash","-lc","mvn -q -DskipTests org.springframework.boot:spring-boot-maven-plugin:3.5.3:run"]
    networks: [app-network]


  learning-service:
    image: maven:3.9-eclipse-temurin-21
    container_name: learning-service
    working_dir: /workspace
    restart: unless-stopped
    ports: [ "8088:8088" ]
    env_file:
        - ./learning-service/.env
    volumes:
        - ./learning-service:/workspace
        - maven-cache:/root/.m2
    environment:
        - SPRING_DEVTOOLS_RESTART_POLL_INTERVAL=2s
        - SPRING_DEVTOOLS_RESTART_QUIET_PERIOD=1s

    depends_on:
        mysql: { condition: service_healthy }
        redis: { condition: service_started }
        kafka: { condition: service_healthy }
    command: [ "bash","-lc","mvn -q -DskipTests org.springframework.boot:spring-boot-maven-plugin:3.5.3:run" ]
    networks: [ app-network ]


  payment-service:
    image: maven:3.9-eclipse-temurin-21
    container_name: payment-service
    working_dir: /workspace
    restart: unless-stopped
    ports: ["8084:8084"]
    env_file:
      - ./payment-service/.env
    volumes:
      - ./payment-service:/workspace
      - maven-cache:/root/.m2
    depends_on:
      mysql: { condition: service_healthy }
      redis: { condition: service_started }
      kafka: { condition: service_healthy }
    command: ["bash","-lc","mvn -q -DskipTests org.springframework.boot:spring-boot-maven-plugin:3.5.3:run"]
    networks: [app-network]


  upload-service:
    image: maven:3.9-eclipse-temurin-21
    container_name: upload-service
    working_dir: /workspace
    restart: unless-stopped
    ports: ["8085:8085"]
    env_file:
      - ./upload-service/.env
    volumes:
      - ./upload-service:/workspace
      - maven-cache:/root/.m2
    depends_on:
      mysql: { condition: service_healthy }
      redis: { condition: service_started }
      kafka: { condition: service_healthy }
    command: ["bash","-lc","mvn -q -DskipTests org.springframework.boot:spring-boot-maven-plugin:3.5.3:run"]
    networks: [app-network]

  api-gateway:
    image: maven:3.9-eclipse-temurin-21
    container_name: api-gateway
    environment:
      - SPRING_APPLICATION_NAME=api-gateway
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - SPRING_DEVTOOLS_RESTART_POLL_INTERVAL=2s
      - SPRING_DEVTOOLS_RESTART_QUIET_PERIOD=1s
      - JAVA_TOOL_OPTIONS=-Dreactor.netty.http.server.accessLogEnabled=true
    working_dir: /workspace
    restart: unless-stopped
    ports: ["8090:8090"]
    env_file:
      - ./api-gateway/.env
    volumes:
      - ./api-gateway:/workspace
      - maven-cache:/root/.m2
    depends_on:
      mysql: { condition: service_healthy }
      redis: { condition: service_started }
      kafka: { condition: service_healthy }
      auth-service: { condition: service_started }
      user-service: { condition: service_started }
      product-service: { condition: service_started }
      payment-service: { condition: service_started }
      upload-service: { condition: service_started }
      eureka-server: { condition: service_started }
    command: ["bash","-lc","mvn -q -DskipTests org.springframework.boot:spring-boot-maven-plugin:3.5.3:run"]
    networks: [app-network]
