server:
  port: 8090

api:
  prefix: /api/v1

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      globalCors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:5173"
            allowedMethods:
              - "GET"
              - "POST"
              - "PUT"
              - "DELETE"
              - "OPTIONS"
            allowedHeaders: "*"
            allowCredentials: true
      discovery:
        locator:
          enabled: false
          lower-case-service-id: true
      server:
        webflux:
          routes:
            # AUTH
            - id: auth
              uri: lb://auth-service
              predicates:
                - Path=/auth/**


            # USER
            - id: user
              uri: lb://user-service
              predicates:
                - Path=/users/**
              filters:
                - name: RewritePath
                  args:
                    regexp: /user-service/?(?<remaining>.*)
                    replacement: /${remaining}
                - name: JwtHeaderFilter
                  args:
                    secretKey: ${jwt.secretKey}


            # PRODUCT
            - id: product
              uri: lb://product-service
              predicates:
                - Path=/products/**
              filters:
                - name: RewritePath
                  args:
                    regexp: /product-service/?(?<remaining>.*)
                    replacement: /${remaining}
                - name: JwtHeaderFilter
                  args:
                    secretKey: ${jwt.secretKey}

            # PAYMENT
            - id: payment
              uri: lb://payment-service
              predicates:
                - Path=/payments/**
              filters:
                - name: RewritePath
                  args:
                    regexp: /payment-service/?(?<remaining>.*)
                    replacement: /${remaining}
                - name: JwtHeaderFilter
                  args:
                    secretKey: ${jwt.secretKey}


            # NOTIFICATION
            - id: notification
              uri: lb://notification-service
              predicates:
                - Path=/notifications/**
              filters:
                - name: RewritePath
                  args:
                    regexp: /notification-service/?(?<remaining>.*)
                    replacement: /${remaining}
                - name: JwtHeaderFilter
                  args:
                    secretKey: ${jwt.secretKey}


            # UPLOAD
            - id: upload
              uri: lb://upload-service
              predicates:
                - Path=/uploads/**,/downloads/**
              filters:
                - name: RewritePath
                  args:
                    regexp: /upload-service/?(?<remaining>.*)
                    replacement: /${remaining}
                - name: JwtHeaderFilter
                  args:
                    secretKey: ${jwt.secretKey}


              #LEARNING
            - id: learning
              uri: lb://learning-service
              predicates:
                - Path=/learning/**
              filters:
                - name: RewritePath
                  args:
                    regexp: /learning-service/?(?<remaining>.*)
                    replacement: /${remaining}
                - name: JwtHeaderFilter
                  args:
                    secretKey: ${jwt.secretKey}

              #NOTIFICATION
            - id: notification
              uri: lb://notification-service
              predicates:
                    - Path=/notifications/**
              filters:
                - name: RewritePath
                  args:
                    regexp: /notification-service/?(?<remaining>.*)
                    replacement: /${remaining}
                - name: JwtHeaderFilter
                  args:
                    secretKey: ${jwt.secretKey}

      default-filters:
        - JwtHeaderFilter
        - RemoveRequestHeader=Authorization
        - RemoveRequestHeader=X-User-Id
        - RemoveRequestHeader=X-Email
        - RemoveRequestHeader=X-Roles



  security:
    oauth2:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: "http://localhost:8090/gateway-auth/oauth2/code/google"
            scope: email, profile
          facebook:
            client-id: ${FACEBOOK_CLIENT_ID}
            client-secret: ${FACEBOOK_CLIENT_SECRET}
            redirect-uri: "http://localhost:8090/gateway/auth/oauth2/code/facebook"
            scope: email, public_profile
        provider:
          facebook:
            authorization-uri: https://www.facebook.com/v10.0/dialog/oauth
            token-uri: https://graph.facebook.com/v10.0/oauth/access_token
            user-info-uri: https://graph.facebook.com/me?fields=id,name,email,picture

  devtools:
    restart:
      additional-paths: src/main/java, src/main/resources

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka-server:8761/eureka
  instance:
    prefer-ip-address: false
    hostname: api-gateway

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway

jwt:
  expiration: 2952000
  expiration-refresh-token: 5184000
  secretKey: e672a8b64e2a5ab5da300537341d7af496f0059c56838a9a7c634591d2ad6b71



logging:
  level:
    reactor.netty.http.server.AccessLog: INFO
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.reactive: DEBUG