server:
  port: 8090

api:
  prefix: /api/v1

spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      mvc:
        routes:
          - id: auth-service
            uri: lb://AUTH-SERVICE
            predicates:
              - Path=/auth/**

          - id: user-service
            uri: lb://USER-SERVICE
            predicates:
              - Path=/api/v1/users/**

          - id: product-service
            uri: lb://PRODUCT-SERVICE
            predicates:
              - Path=/api/v1/products/**

          - id: payment-service
            uri: lb://PAYMENT-SERVICE
            predicates:
              - Path=/api/v1/payments/**

          - id: notification-service
            uri: lb://NOTIFICATION-SERVICE
            predicates:
              - Path=/api/v1/notifications/**

          - id: upload-service
            uri: lb://UPLOAD-SERVICE
            predicates:
              -Path=/api/v1/uploads/**


  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8181/realms/master
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: "http://localhost:8090/auth/oauth2/code/google"
            scope: email, profile
          facebook:
            client-id: ${FACEBOOK_CLIENT_ID}
            client-secret: ${FACEBOOK_CLIENT_SECRET}
            redirect-uri: "http://localhost:8090/auth/oauth2/code/facebook"
            scope: email, public_profile
        provider:
          facebook:
            authorization-uri: https://www.facebook.com/v10.0/dialog/oauth
            token-uri: https://graph.facebook.com/v10.0/oauth/access_token
            user-info-uri: https://graph.facebook.com/me?fields=id,name,email,picture

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka

jwt:
  expiration: 2952000
  expiration-refresh-token: 5184000
  secretKey: e672a8b64e2a5ab5da300537341d7af496f0059c56838a9a7c634591d2ad6b71