server:
  port: 8090

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      mvc:
        routes:
          - id: auth-service
            uri: lb://AUTH-SERVICE
            predicates:
              - Path=/api/v1/auth/**

          - id: user-service
            uri: lb://USER-SERVICE
            predicates:
              - Path=/api/v1/users

          - id: product-service
            uri: lb://PRODUCT-SERVICE
            predicates:
              - Path=/api/v1/products

          - id: payment-service
            uri: lb://PAYMENT-SERVICE
            predicates:
              - Path=/api/v1/payments

          - id: notification-service
            uri: lb://NOTIFICATION-SERVICE
            predicates:
              - Path=/api/v1/notification

          - id: upload-service
            uri: lb://UPLOAD-SERVICE
            predicates:
              -Path=/api/v1/upload-service


  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8181/realms/master

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka