server:
  port: 8084


eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka


spring:
  application:
    name: payment-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://mysql:3306/study5_payment?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: ${MYSQL_ROOT_PASSWORD:123456}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  properties:
    hibernate:
      dialect: org.hibernate.dialect.MySQLDialect
      format_sql: true
  devtools:
    restart:
      additional-paths: src/main/java, src/main/resources
  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: true

    consumer:
      group-id: payment-service
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "com.mck.study5.*"

vnpay:
  tmn_code: ZMF8PTU6
  hash_secret: FJ6GBQXIAHJ0EH1P7ZTJ7GI2YYJMH4KL
  url: https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
  return_url: http://localhost:8090/payments/vnpay_return
  return_client_url: http://localhost:5173/new-post?payment-status=


payos:
  client-id: 6b38e2e8-ebce-4c62-9d30-b4cee05d55d3
  api-key: 28b3b80b-e744-4b43-9fd7-44d2037f37a1
  checksum-key: e9751596783a2b0109d96e8aa5539b28e1775eb60061abc881c29be2c09da957
  base-url: https://api-merchant.payos.vn
  return-url: http://localhost:8090/payments/payos_return
  return-client-url: http://localhost:5173/new-post?payment-status=
  cancel-url: https://api-merchant.payos.vn/v2/payment-requests/{id}/cancel
