server:
  port: 8083

eureka:
  client:
    serviceUrl:
      defaultZone: http://lcoalhost:8761/eureka

api:
  prefix: /api/v1


spring:
  application:
    name: PRODUCT-SERVICE
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3307/study5_product?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: ${MYSQL_ROOT_PASSWORD:123456}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MYSQLDialect
        format_sql: true


