server:
  port: 8083

eureka:
  client:
    serviceUrl:
      defaultZone: http://lcoalhost:8761/eureka

spring:
  application:
    name: PRODUCT-SERVICE
  datasource:
    url:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: ${MYSQL_ROOT_PASSWORD:123456}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MYSQLDialect
        format_sql: true


